<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello UI Refresh</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../dist/css/d6.css"></head>
	<style type="text/css">
		.ui-list-block{
			margin:0;
		}
		/*.J_list{
			top:50px;
		}*/

		[type="template"]{
			visibility: hidden;
		}
</style>
<body>
	<!-- 绑定下拉刷新 -->
	<!-- <div id="J_list" class="ui-refresh" data-refresh="{}"></div> -->

	<!-- 不绑定下拉刷新 -->
	<div id="J_list" class="ui-refresh">
		<div class="ui-listview-twoline" type="template">
			<div class="ui-listview-img">
			</div>
			<div class="ui-listview-content">
				<div class="ui-content-title">
					<div ng-model="content:name">标题</div>
					<span ng-model="content:time">08:20</span>
				</div>
				<div class="ui-content-body">
					此处是文本内容
				</div>
			</div>
		</div>
	</div>

	<div style="float:right;"> 
		<button style="position: absolute; bottom:0; right:0;" onclick="next()">下一页</button>
		<button style="position: absolute; top:0; right:0;" onclick="refresh()">刷新</button>
	</div>
	
	<script src="../assets/libs/zepto.js"></script>
	<script src="../assets/libs/dt.js"></script>
	<script src="../dist/js/d6.js"></script>
	<script>
	$(function() {
		var config = {
			uiType : 'listview',
			method : 'search',
			server : {
				url : 'http://192.168.180.37:8080/testbxp1018004/bxp/user/getreslist',
				type : 'post',
				eventName : 'onclick',
				entityName : 'user'
			},
			orderRule : {
				property : 'id',
				order : 'DESC'
			},
			limitRule : {
				limit : '10'
			},
			tempName : 'temp1',
			maps : [{
				entity : 'name',
				dom : 'names'
			}, {
				entity : 'notes',
				dom : 'notes'
			}]
		};
var data = {
    "result": 0,
    "nomore" : false,
    "data": [{
        "id": 0,
        "name": "update",
        "des" : "<h1>des描述</h1>",
        "notes": "你好案说法6666",
        "imgurl" : "img/1.jpg",
        "time" : $.formatDateToString(new Date())

    }, {
        "id": 0,
        "name": "李颖",
        "notes": "噶发",
        "imgurl" : "img/2.jpg"
    }]
}

	    $("#J_list").generate({
			config : config, 
			result : data
		})
	});
	function next(){
		$("#J_list").generate("next", function(nomore){
			console.log("pullup-nomore", nomore)
		})
	}
	function refresh(){
		$("#J_list").generate("refresh", function(nomore){
			console.log("pullup-nomore", nomore)
		});
	}
	
	</script>
</body>
</html>